<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="A3Naumov\ProductAttachments\Api\Data\AttachmentInterface" type="A3Naumov\ProductAttachments\Model\Attachment"/>
    <preference for="A3Naumov\ProductAttachments\Api\AttachmentRepositoryInterface" type="A3Naumov\ProductAttachments\Model\AttachmentRepository"/>
</config>
