<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="a3naumov" translate="label" sortOrder="10">
            <label>A3Naumov</label>
        </tab>

        <section id="product_attachments" translate="label" type="text" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
            <label>Product Attachments</label>
            <tab>a3naumov</tab>
            <resource>A3Naumov_ProductAttachments::product_attachments</resource>

            <group id="general" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
                <label>General</label>
                <comment>General settings for Product Attachments module.</comment>

                <field id="enable_module" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1" canRestore="1">
                    <label>Enable Module</label>
                    <comment>Enable or disable Product Attachments module.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
